@use "../helpers";

.item-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 24px;

  &:hover {
    z-index: 1;
    background-image: url(helpers.asset("background-sheet.png"));
    border-color: orange;

    input:not(:checked) ~ label {
      display: block;
    }
  }

  &:not(:hover) input:checked ~ label {
    font-weight: normal;
  }

  input {
    display: none;

    &:not(:checked) ~ label {
      display: none;
    }

    &:checked ~ label {
      font-weight: bold;
    }
  }

  & > div {
    display: flex;
    align-items: center;
    height: 24px;
    width: 100%;
  }

  label {
    height: 18px;
    width: 100%;
    padding: 1px 2px;
  }
}

input:checked ~ .item {
  display: block;
}

.item {
  display: none;
  position: absolute;
  pointer-events: none;

  &.helm {
    width: 66px;
    height: 45px;
  }
}
