@function asset($name) {
  @return "https://raw.githubusercontent.com/ilgazil/roll20-sheet-andor/main/img/" +
    $name;
}

@mixin hero($names...) {
  @each $name in $names {
    .hero-list-item-value[value="#{$name}"]:checked ~ {
      @content ($name);
    }
  }
}

@mixin preview($slot, $items...) {
  @each $item in $items {
    ##{$slot}-#{$item}:checked ~ .preview-item {
      @content ($item);
    }
  }
}

@mixin merchant($slot, $items...) {
  @each $item in $items {
    label[for="#{$slot}-#{$item}"] {
      @content ($item);
    }
  }
}

body {
  .sheetform {
    --dark-secondarytext: black;
  }

  .ui-dialog .charsheet {
    padding: 0;

    label {
      font-weight: normal;
      font-size: unset;
      margin-bottom: 0;
      padding-right: 0;
    }

    .label:empty {
      display: unset;
    }
  }
}

label {
  color: var(--dark-secondarytext);
}

.sheet {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px;
  background-image: url(asset("background-sheet.png"));
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.preview {
  flex: none;
  position: relative;
  margin-top: 26px;
  width: 320px;
  height: 320px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;

  input {
    display: none;
  }

  > * {
    position: absolute;
  }

  .preview-item {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-repeat: no-repeat;

    &:focus {
      cursor: default;

      .merchant {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        align-items: center;
        z-index: 1;

        label {
          display: block;
          cursor: pointer;
          border: none;
          background-color: transparent;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }

  .helm {
    height: 45px;
    width: 67px;

    label {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    input:not(:checked) + label {
      background-color: white;
      opacity: 0;

      &:hover {
        opacity: 0.1;
      }
    }

    input:checked + label {
      border-top-right-radius: 45px;
      border-top-left-radius: 45px;
      background-image: url(asset("inventory-helm.png"));
    }
  }

  .offhand {
    height: 205px;
    width: 86px;

    > .preview-item {
      border-radius: 43px / 103px;
      background-size: 86px 205px;

      &:focus {
        width: 180px;

        .merchant {
          left: 86px;

          .offhand-empty {
            padding: 10px;
            width: 40px;
            height: 80px;

            label {
              width: 40px;
              height: 80px;
              display: block;
            }
          }

          > label {
            width: 60px;
            height: 100px;
          }
        }
      }
    }

    @include preview(offhand, empty) using ($item) {
      &:not(:focus) {
        background-color: white;
        opacity: 0;

        &:hover {
          opacity: 0.1;
        }
      }
    }

    @include preview(
        offhand,
        shield,
        shield-broken,
        brotherly-shield,
        bow,
        falcon,
        falcon-gone
      )
      using ($item) {
      background-image: url(asset("inventory-#{$item}.png"));
    }

    label[for="offhand-empty"] {
      background-image: url(asset("token-cancel.png"));
    }

    @include merchant(
        offhand,
        shield,
        shield-broken,
        brotherly-shield,
        bow,
        falcon,
        falcon-gone
      )
      using ($item) {
      background-image: url(asset("inventory-#{$item}.png"));
    }
  }

  .inventory-1,
  .inventory-2,
  .inventory-3 {
    height: 86px;
    width: 76px;

    > .preview-item {
      border-radius: 7px;
      background-size: 76px 86px;

      &:focus {
        width: 340px;

        .merchant {
          left: 80px;
          gap: 8px;

          > label {
            width: 40px;
            height: 46px;
          }
        }
      }
    }
  }

  .inventory-2 .merchant {
    top: -33px;
  }

  .inventory-3 .merchant {
    top: -66px;
  }

  @for $i from 1 through 3 {
    @include preview(inventory-#{$i}, empty) using ($item) {
      &:not(:focus) {
        background-color: white;
        opacity: 0;

        &:hover {
          opacity: 0.1;
        }
      }
    }

    @include preview(
        inventory-#{$i},
        gourd,
        gourd-used,
        spyglass,
        witch-potion,
        witch-potion-used,
        poison,
        poison-used,
        rune-yellow,
        rune-blue,
        rune-green
      )
      using ($item) {
      background-image: url(asset("inventory-#{$item}.png"));
    }

    @include preview(
        inventory-#{$i},
        token-herb-3,
        token-herb-4,
        token-scroll-7,
        token-scroll-8,
        token-scroll-10,
        token-scroll-11,
        token-scroll-14,
        token-scroll-17
      )
      using ($item) {
      background-image: url(asset("#{$item}.png"));
    }

    label[for="inventory-#{$i}-empty"] {
      background-image: url(asset("token-cancel.png"));
    }

    @include merchant(
        inventory-#{$i},
        gourd,
        gourd-used,
        spyglass,
        witch-potion,
        witch-potion-used,
        poison,
        poison-used,
        rune-yellow,
        rune-blue,
        rune-green
      )
      using ($item) {
      background-image: url(asset("inventory-#{$item}.png"));
    }

    @include merchant(
        inventory-#{$i},
        token-herb-3,
        token-herb-4,
        token-scroll-7,
        token-scroll-8,
        token-scroll-10,
        token-scroll-11,
        token-scroll-14,
        token-scroll-17
      )
      using ($item) {
      background-image: url(asset("#{$item}.png"));
    }
  }
}

.ranger-inventory {
  display: none;
  position: absolute;
  left: 325px;

  > div {
    position: relative;
    cursor: pointer;

    &:nth-child(1) {
      top: -7px;

      input:checked + label {
        background-image: url(asset("inventory-crow.png"));
      }

      input:not(:checked) + label {
        background-image: url(asset("inventory-crow-used.png"));
      }
    }

    &:nth-child(2) {
      top: 8px;

      input:checked + label {
        background-image: url(asset("inventory-knife.png"));
      }

      input:not(:checked) + label {
        background-image: url(asset("inventory-knife-used.png"));
      }
    }

    &:nth-child(3) {
      top: 26px;

      input:checked + label {
        background-image: url(asset("inventory-horn.png"));
      }

      input:not(:checked) + label {
        background-image: url(asset("inventory-horn-used.png"));
      }
    }

    input {
      display: none;
    }

    label {
      display: block;
      width: 137px;
      height: 84px;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }
}

.character {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 350px;

  .inventory,
  .stats {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 4px;
  }
}

.element {
  display: flex;
  gap: 4px;
  height: 28px;

  & > * {
    display: flex;
    align-items: center;
  }

  input {
    background-color: transparent;
    border: 1px solid grey;
    margin: 0;

    &:not([type="checkbox"]) {
      height: 20px;
    }

    &[type="number"] {
      width: 45px;
    }
  }

  &.strength-element {
    align-items: center;
    height: 60px;

    .label {
      flex-grow: 1;
      height: 48px;
      background-image: url(asset("misc-strength.png"));
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .stat-grid-value label {
      background-size: 75%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &.will-element {
    height: 90px;

    .dice-list {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .dice-deck {
        flex: none;
        display: flex;
        align-items: center;
        height: 30px;

        .dice {
          width: 24px;
          height: 24px;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }

    .stat-grid {
      flex: none;
    }

    .stat-grid-value label {
      background-size: contain;
      background-repeat: no-repeat;
    }

    .stat-grid-value:first-child label {
      background-image: url(asset("misc-health-0.png"));
      background-position-y: 3px;
      color: transparent;
    }

    .stat-grid-value:first-child input:checked ~ label {
      background-position-y: 0;
    }
  }
}

.hero-list {
  position: absolute;
  top: 0;
  margin-top: 8px;
  width: 320px;

  &-item-value {
    display: none;
  }

  &:hover {
    height: 320px;

    label {
      display: block;
    }
  }

  label {
    display: none;
    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.item-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid gray;
  border-radius: 2px;
  height: 24px;

  &:hover {
    z-index: 1;
    background-color: white;

    input:not(:checked) ~ label {
      display: block;
    }
  }

  &:not(:hover) input:checked ~ label {
    font-weight: normal;
  }

  input {
    display: none;

    &:not(:checked) ~ label {
      display: none;
    }

    &:checked ~ label {
      font-weight: bold;
    }
  }

  &.inventory-1-list:hover,
  &.inventory-2-list:hover,
  &.inventory-3-list:hover {
    height: 380px;
  }

  & > div {
    display: flex;
    align-items: center;
    height: 24px;
    width: 100%;
  }

  label {
    height: 18px;
    width: 100%;
    padding: 1px 2px;
  }

  &.inventory-1-list .item,
  &.inventory-2-list .item,
  &.inventory-3-list .item {
    height: 86px;
  }
}

input:checked ~ .item {
  display: block;
}

.item {
  display: none;
  position: absolute;
  pointer-events: none;

  &.helm {
    width: 66px;
    height: 45px;
  }
}

.stat-grid {
  display: flex;
  flex-wrap: wrap;
  width: 210px;

  .stat-grid-value {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 0;

    input {
      display: none;

      &:checked ~ label {
        --dark-secondarytext: white;
      }
    }

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      cursor: pointer;
    }
  }
}

.tarus-will-marker {
  position: relative;
  opacity: 0;

  > img {
    height: 30px;
    position: absolute;
    bottom: 0;
    margin-left: 15px;
    max-width: inherit;
  }
}

.gold-pouch {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 50px;
  }

  input {
    background: transparent;
    border: none;
    -moz-appearance: none;
    width: 64px;
    text-align: center;
    font-size: 1.5em;

    &:focus {
      outline: 0px none transparent;
    }
  }
}

@include hero(
    thorn,
    mairen,
    pasco,
    chada,
    liphardus,
    eara,
    kram,
    brigha,
    kheelan,
    kheela,
    fenn,
    fennah,
    arbon,
    talvora,
    bragor,
    rhega
  )
  using ($hero) {
  .preview {
    background-image: url(asset("character-#{$hero}.png"));
  }

  .hero-list label[for="hero-#{$hero}"] {
    display: block;
  }

  .hero-list:hover label[for="hero-#{$hero}"] {
    display: block;
    font-weight: bold;
  }
}

@include hero(thorn, mairen) using ($hero) {
  .character .element.strength-element .stat-grid-value input:checked ~ label {
    background-image: url(asset("misc-strength-warrior.png"));
  }

  .character .element.will-element .stat-grid-value input:checked ~ label {
    background-image: url(asset("misc-will-warrior.png"));
  }

  .character .dice-list .dice {
    background-image: url(asset("misc-dice-warrior.png"));

    &:first-child {
      display: none;
    }
  }
}

@include hero(pasco, chada) using ($hero) {
  .character .element.strength-element .stat-grid-value input:checked ~ label {
    background-image: url(asset("misc-strength-archer.png"));
  }

  .character .element.will-element .stat-grid-value input:checked ~ label {
    background-image: url(asset("misc-will-archer.png"));
  }

  .character .dice-list .dice {
    background-image: url(asset("misc-dice-archer.png"));
  }
}

@include hero(liphardus, eara) using ($hero) {
  .character .element.strength-element .stat-grid-value input:checked ~ label {
    background-image: url(asset("misc-strength-wizard.png"));
  }

  .character .element.will-element .stat-grid-value input:checked ~ label {
    background-image: url(asset("misc-will-wizard.png"));
  }

  .character .dice-list .dice {
    background-image: url(asset("misc-dice-wizard.png"));

    &:not(:first-child) {
      display: none;
    }
  }
}

@include hero(kram, brigha) using ($hero) {
  .character .element.strength-element .stat-grid-value input:checked ~ label {
    background-image: url(asset("misc-strength-dwarf.png"));
  }

  .character .element.will-element .stat-grid-value input:checked ~ label {
    background-image: url(asset("misc-will-dwarf.png"));
  }

  .character .dice-list .dice {
    background-image: url(asset("misc-dice-dwarf.png"));

    &:nth-child(1),
    &:nth-child(2) {
      display: none;
    }
  }
}

@include hero(kheelan, kheela) using ($hero) {
  .character .element.strength-element .stat-grid-value input:checked ~ label {
    background-image: url(asset("misc-strength-guardian.png"));
  }

  .character .element.will-element .stat-grid-value input:checked ~ label {
    background-image: url(asset("misc-will-guardian.png"));
  }

  .character .dice-list .dice {
    background-image: url(asset("misc-dice-guardian.png"));

    &:not(:first-child) {
      display: none;
    }
  }
}

@include hero(fenn, fennah) using ($hero) {
  .preview {
    width: 460px;
  }

  .ranger-inventory {
    display: block;
  }

  .character .element.strength-element .stat-grid-value input:checked ~ label {
    background-image: url(asset("misc-strength-ranger.png"));
  }

  .character .element.will-element .stat-grid-value input:checked ~ label {
    background-image: url(asset("misc-will-ranger.png"));
  }

  .character .dice-list {
    .dice {
      background-image: url(asset("misc-dice-ranger.png"));

      &:nth-child(1),
      &:nth-child(2) {
        display: none;
      }
    }

    .dice-deck:nth-child(3) .dice:nth-child(3) {
      display: none;
    }
  }
}

@include hero(arbon, talvora) using ($hero) {
  .character .element.strength-element .stat-grid-value input:checked ~ label {
    background-image: url(asset("misc-strength-sentinel.png"));
  }

  .character .element.will-element .stat-grid-value input:checked ~ label {
    background-image: url(asset("misc-will-sentinel.png"));
  }

  .character .dice-list .dice {
    background-image: url(asset("misc-dice-sentinel.png"));

    &:nth-child(1),
    &:nth-child(2) {
      display: none;
    }
  }
}

@include hero(bragor, rhega) using ($hero) {
  .character .element.strength-element .stat-grid-value input:checked ~ label {
    background-image: url(asset("misc-strength-tarus.png"));
  }

  .character .element.will-element .stat-grid-value input:checked ~ label {
    background-image: url(asset("misc-will-tarus.png"));
  }

  .character .dice-list .dice {
    background-image: url(asset("misc-dice-tarus.png"));

    &:nth-child(1),
    &:nth-child(2) {
      display: none;
    }
  }

  .character .tarus-will-marker {
    opacity: 1;
  }
}

@include hero(thorn) using ($hero) {
  .preview {
    .helm {
      top: 14px;
      left: 74px;
    }

    .offhand {
      top: 93px;
      left: 140px;
    }

    .inventory-1,
    .inventory-2,
    .inventory-3 {
      left: 237px;
    }

    .inventory-1 {
      top: 12px;
    }

    .inventory-2 {
      top: 112px;
    }

    .inventory-3 {
      top: 213px;
    }
  }
}

@include hero(mairen) using ($hero) {
  .preview {
    .helm {
      top: 21px;
      left: 73px;
    }

    .offhand {
      top: 93px;
      left: 131px;
    }

    .inventory-1,
    .inventory-2,
    .inventory-3 {
      left: 237px;
    }

    .inventory-1 {
      top: 12px;
    }

    .inventory-2 {
      top: 112px;
    }

    .inventory-3 {
      top: 213px;
    }
  }
}

@include hero(pasco) using ($hero) {
  .preview {
    .helm {
      top: 24px;
      left: 68px;
    }

    .offhand {
      top: 97px;
      left: 133px;
    }

    .inventory-1,
    .inventory-2,
    .inventory-3 {
      left: 237px;
    }

    .inventory-1 {
      top: 12px;
    }

    .inventory-2 {
      top: 112px;
    }

    .inventory-3 {
      top: 213px;
    }
  }
}

@include hero(chada) using ($hero) {
  .preview {
    .helm {
      top: 30px;
      left: 68px;
    }

    .offhand {
      top: 96px;
      left: 117px;
    }

    .inventory-1,
    .inventory-2,
    .inventory-3 {
      left: 237px;
    }

    .inventory-1 {
      top: 12px;
    }

    .inventory-2 {
      top: 112px;
    }

    .inventory-3 {
      top: 213px;
    }
  }
}

@include hero(liphardus) using ($hero) {
  .preview {
    .helm {
      top: 20px;
      left: 77px;
    }

    .offhand {
      top: 94px;
      left: 140px;
    }

    .inventory-1,
    .inventory-2,
    .inventory-3 {
      left: 237px;
    }

    .inventory-1 {
      top: 12px;
    }

    .inventory-2 {
      top: 112px;
    }

    .inventory-3 {
      top: 213px;
    }
  }
}

@include hero(eara) using ($hero) {
  .preview {
    .helm {
      top: 32px;
      left: 68px;
    }

    .offhand {
      top: 95px;
      left: 127px;
    }

    .inventory-1,
    .inventory-2,
    .inventory-3 {
      left: 237px;
    }

    .inventory-1 {
      top: 12px;
    }

    .inventory-2 {
      top: 112px;
    }

    .inventory-3 {
      top: 213px;
    }
  }
}

@include hero(kram) using ($hero) {
  .preview {
    .helm {
      top: 45px;
      left: 69px;
    }

    .offhand {
      top: 94px;
      left: 140px;
    }

    .inventory-1,
    .inventory-2,
    .inventory-3 {
      left: 237px;
    }

    .inventory-1 {
      top: 12px;
    }

    .inventory-2 {
      top: 112px;
    }

    .inventory-3 {
      top: 213px;
    }
  }
}

@include hero(brigha) using ($hero) {
  .preview {
    .helm {
      top: 41px;
      left: 69px;
    }

    .offhand {
      top: 94px;
      left: 140px;
    }

    .inventory-1,
    .inventory-2,
    .inventory-3 {
      left: 237px;
    }

    .inventory-1 {
      top: 12px;
    }

    .inventory-2 {
      top: 112px;
    }

    .inventory-3 {
      top: 213px;
    }
  }
}

@include hero(kheelan) using ($hero) {
  .preview {
    .helm {
      top: 12px;
      left: 72px;
    }

    .offhand {
      top: 94px;
      left: 140px;
    }

    .inventory-1,
    .inventory-2,
    .inventory-3 {
      left: 237px;
    }

    .inventory-1 {
      top: 12px;
    }

    .inventory-2 {
      top: 112px;
    }

    .inventory-3 {
      top: 213px;
    }
  }
}

@include hero(kheela) using ($hero) {
  .preview {
    .helm {
      top: 11px;
      left: 73px;
    }

    .offhand {
      top: 94px;
      left: 140px;
    }

    .inventory-1,
    .inventory-2,
    .inventory-3 {
      left: 237px;
    }

    .inventory-1 {
      top: 12px;
    }

    .inventory-2 {
      top: 112px;
    }

    .inventory-3 {
      top: 213px;
    }
  }
}

@include hero(fenn) using ($hero) {
  .preview {
    .helm {
      top: 16px;
      left: 77px;
    }

    .offhand {
      top: 96px;
      left: 139px;
    }

    .inventory-1,
    .inventory-2,
    .inventory-3 {
      left: 232px;
    }

    .inventory-1 {
      top: 13px;
    }

    .inventory-2 {
      top: 114px;
    }

    .inventory-3 {
      top: 215px;
    }
  }
}

@include hero(fennah) using ($hero) {
  .preview {
    .helm {
      top: 20px;
      left: 77px;
    }

    .offhand {
      top: 95px;
      left: 129px;
    }

    .inventory-1,
    .inventory-2,
    .inventory-3 {
      left: 237px;
    }

    .inventory-1 {
      top: 12px;
    }

    .inventory-2 {
      top: 112px;
    }

    .inventory-3 {
      top: 213px;
    }
  }
}

@include hero(arbon) using ($hero) {
  .preview {
    .helm {
      top: 12px;
      left: 88px;
    }

    .offhand {
      top: 94px;
      left: 140px;
    }

    .inventory-1,
    .inventory-2,
    .inventory-3 {
      left: 237px;
    }

    .inventory-1 {
      top: 12px;
    }

    .inventory-2 {
      top: 112px;
    }

    .inventory-3 {
      top: 213px;
    }
  }
}

@include hero(talvora) using ($hero) {
  .preview {
    .helm {
      top: 11px;
      left: 89px;
    }

    .offhand {
      top: 94px;
      left: 140px;
    }

    .inventory-1,
    .inventory-2,
    .inventory-3 {
      left: 237px;
    }

    .inventory-1 {
      top: 12px;
    }

    .inventory-2 {
      top: 112px;
    }

    .inventory-3 {
      top: 213px;
    }
  }
}

@include hero(bragor, rhega) using ($hero) {
  .preview {
    .helm,
    .offhand {
      display: none
    }

    .inventory-1,
    .inventory-2,
    .inventory-3 {
      left: 237px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .inventory-1 {
      top: 12px;
    }

    .inventory-2 {
      top: 112px;
    }

    .inventory-3 {
      top: 213px;
    }
  }
}
