.hero-list {
    position: absolute;
    top: 0;
    margin-top: 8px;
    width: 320px;
  
    &-item-value {
      display: none;
    }
  
    &:hover {
      height: 320px;
  
      label {
        display: block;
      }
    }
  
    label {
      display: none;
      overflow: clip;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }