@use "helpers";

.ranger-inventory {
  display: none;
  position: absolute;
  left: 325px;

  > div {
    position: relative;
    cursor: pointer;

    &:nth-child(1) {
      top: -7px;

      input:checked + label {
        background-image: url(helpers.asset("inventory-crow.png"));
      }

      input:not(:checked) + label {
        background-image: url(helpers.asset("inventory-crow-used.png"));
      }
    }

    &:nth-child(2) {
      top: 8px;

      input:checked + label {
        background-image: url(helpers.asset("inventory-knife.png"));
      }

      input:not(:checked) + label {
        background-image: url(helpers.asset("inventory-knife-used.png"));
      }
    }

    &:nth-child(3) {
      top: 26px;

      input:checked + label {
        background-image: url(helpers.asset("inventory-horn.png"));
      }

      input:not(:checked) + label {
        background-image: url(helpers.asset("inventory-horn-used.png"));
      }
    }

    input {
      display: none;
    }

    label {
      display: block;
      width: 137px;
      height: 84px;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }
}
